body {
    width: 100%;
    height: 100%;
    background-color: black;
}

.playing--field{
    width: 500px;
    height: 500px;
    margin: auto;
    margin-top: 50px;
    background-color: green;
}

p {
    margin: 10px;
    color: white
}